body{
    font-family: 'Lato', sans-serif;
 }
 .sectionheader{
    display: flex;
    justify-content: space-between;
    
    max-width: 1280px;
     margin: 0 auto;
     padding: 0px 15px;margin: 0 auto;
    
 }
 .headernav{
    margin-right: 600px;
 }
 .sectionheader.headernav>.ahr{
    color: #212353;
    font-size: 16px;
 
 }
 a{
    color: #4B5D68;
    font-size: 16px;
    text-decoration: none;
 }
 .headerbutton>button{
    width: 210px;
    height: 60px;
    border-radius: 50px;
    border: none;
    color: #212353;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background: #ffffff;
 }
 
 
 
 
 .headertitle{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
 }
 
 
 
 
 
 
 
 
 
 
 
 .headertitle>h2{
    font-size: 80px;
    color: #212353;
 }
 .headertitle>p{
    font-size: 18px;
    color: #4b5d68;
 }
 .headertitle>button{
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    margin-top: 50px;
    
 }
 .headertitle{
    padding-top: 50px;
    background-image: url(./image/image1\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
 }
 
 .maintitle{
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    margin-top: 99px;
 }
 .maininformation{
    margin-top: 80px;
 
 }
 
 
 .maininformation>h3{
    color:#212353;
    font-size: 40px;
 }
 .maininformation>p{
    font-size: 18px;
    color:#4B5D68
 }
 .maininsectionfeature{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
 }
 .feature{
    text-align: center;
    margin-top: 149px;
 }
 .feature>h3{
    color:#212353;
    font-size: 40px;
 }
 .feature>p{
    font-size: 18px;
    color:#4B5D68
 }
 .featureitems{
    margin-top: 149px;
    display: flex;
    justify-content: space-between;
 }
 .serchdata{
    display: flex;
 }
 .hoursdata{
    display: flex;
     align-items: center;
 }
 
 
 .mainsectionfeature1{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
 }
 .printout{
    display: flex;
    align-items: flex-end;
 }
 .securitycode{
    display: flex;
 }
 .color>h4{
    color: #212353;
    font-size: 24px;
 }
 .color>p{
    font-size: 16px;
    color: #4B5D68;
 }
 .color>span{
    font-size: 16px;
    color: #212353;
 
 }
 .sectiontestimonials{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    margin-top: 183px;
 }
 .testimonialstitle{
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 148px;
 }
 .whiteblock{
    width: 949px;
 height: 330px;
 background: #FFFFFF;
 box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
 border-radius: 20px;
 margin-left: 152px;
 }
 .johnfong{
    display: flex;
     margin-left: 100px;
 }
 .johninfo>h5{
    font-size: 18px;
    color: #212353;
 }
 .johninfo>a{
    font-size: 14px;
    color: #9C69E2;
 }
 .johninfo>p{
    font-size: 18px;
    color: #4b5d68;
 }







 



.section1{
   max-width: 1280px;
   margin: 0 auto;
   padding: 0px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 152px;
}
.tryforfree>h3{
   font-size: 40px;
   color: #212353;
}
.tryforfree>p{
   font-size: 18px;
   color: #4B5D68;
}
.btn1{
   width: 170px;
   height: 60px;
   font-size: 18px;
   background: #F063B8;
   border-radius: 50px;
   border: none;
   color: #FFFFFF;
}
.btn2{
   width: 210px;
   height: 60px;
   font-size: 16px;
   background: #FFFFFF;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
   border-radius: 50px;height: 60px;
   border: none;
   color: #212353;
}

.footerinformatin{
   max-width: 1280px;
   margin: 0 auto;
   padding: 0px 15px;
   display: flex;
   justify-content: space-between;
   padding-top: 195px;
}
.sec1>h4{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 20px;
   color: #212353;
}
.sec2>h4{
   font-size: 20px;
   color: #212353;
}
.sec3>h4{
   font-size: 20px;
   color: #212353;
}
.sec4>h4{
   font-size: 20px;
   color: #212353;
}
.sec1>p{
   font-size: 16px;
   color: #212353;
}
.sec2>p{
   font-size: 16px;
   color: #212353;
}
.sec3>p{
   font-size: 16px;
   color: #212353;
}
.sec4>p{
   font-size: 16px;
   color: #212353;
}
.sec1>a{
   font-size: 16px;
   color: #212353;
}

.data{
   padding-top: 62px;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0px 15px;
   display: flex;
   justify-content: space-between;
   padding-top: 62px;
}
.sct>p{
   font-size: 12px;
   color: #212353;
}