body{
    font-family: 'Lato', sans-serif;
 }
 .sectionheader{
    display: flex;
    justify-content: space-between;
    
    max-width: 1280px;
     margin: 0 auto;
     padding: 0px 15px;margin: 0 auto;
    
 }
 .headernav{
    margin-right: 600px;
 }
 .sectionheader.headernav>.ahr{
    color: #212353;
    font-size: 16px;
 
 }
 a{
    color: #4B5D68;
    font-size: 16px;
    text-decoration: none;
 }
 .headerbutton>button{
    width: 210px;
    height: 60px;
    border-radius: 50px;
    border: none;
    color: #212353;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background: #ffffff;
 }
 
 
 
 
 .headertitle{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
 }
 
 
 
 
 
 
 
 
 
 
 
 .headertitle>h2{
    font-size: 80px;
    color: #212353;
 }
 .headertitle>p{
    font-size: 18px;
    color: #4b5d68;
 }
 .headertitle>button{
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    margin-top: 50px;
    
 }
 .headertitle{
    padding-top: 50px;
    background-image: url(./image/image1\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
 }
 
 .maintitle{
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    margin-top: 99px;
 }
 .maininformation{
    margin-top: 80px;
 
 }
 
 
 .maininformation>h3{
    color:#212353;
    font-size: 40px;
 }
 .maininformation>p{
    font-size: 18px;
    color:#4B5D68
 }
 .maininsectionfeature{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
 }
 .feature{
    text-align: center;
    margin-top: 149px;
 }
 .feature>h3{
    color:#212353;
    font-size: 40px;
 }
 .feature>p{
    font-size: 18px;
    color:#4B5D68
 }
 .featureitems{
    margin-top: 149px;
    display: flex;
    justify-content: space-between;
 }
 .serchdata{
    display: flex;
 }
 .hoursdata{
    display: flex;
     align-items: center;
 }
 
 
 .mainsectionfeature1{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
 }
 .printout{
    display: flex;
    align-items: flex-end;
 }
 .securitycode{
    display: flex;
 }
 .color>h4{
    color: #212353;
    font-size: 24px;
 }
 .color>p{
    font-size: 16px;
    color: #4B5D68;
 }
 .color>span{
    font-size: 16px;
    color: #212353;
 
 }
 .sectiontestimonials{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    margin-top: 183px;
 }
 .testimonialstitle{
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 148px;
 }
 .whiteblock{
    width: 949px;
 height: 330px;
 background: #FFFFFF;
 box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
 border-radius: 20px;
 margin-left: 152px;
 }
 .johnfong{
    display: flex;
     margin-left: 100px;
 }
 .johninfo>h5{
    font-size: 18px;
    color: #212353;
 }
 .johninfo>a{
    font-size: 14px;
    color: #9C69E2;
 }
 .johninfo>p{
    font-size: 18px;
    color: #4b5d68;
 }
 
 
 
 
 
 
 
 
 
 .footer-wrapper {
    display: flex;
 }
 
 .footer-h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    margin: 100px 302px 20px 220px
 }
 
 
 .footer-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin: 0 123px 150px 220px;
 }
 
 .wrap-button {
    display: flex;
 }
 
 .wrap-button-1 {
    display: inline;
    margin: 121px 30px 170px 190px;
    cursor: pointer;
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    border-style: none;
 }
 
 
 
 .wrap-button-2 {
    display: inline;
    margin: 121px 30px 170px 0;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 17px 29px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    letter-spacing: 0.005em;
    color: #212353;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
 }
 
 
 
 .footer-contact {
    display: flex;
 }
 
 .data {
    margin-left: 220px;
    margin-right: 140px;
 }
 
 .footer-logo {
    margin: 0 0px 0px 0px;
 }
 
 .footer-dataware-h {
    display: inline;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    position: absolute;
    left: 280px;
    top: 3987px;
 }
 
 .footer-dataware-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    padding-top: 70px;
  }
 
 .mail {
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    padding-top: 20px;
 }
 
 
 .tel {
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
 }
 
 
 
 .footer-info {
    margin-right: 60px;
 }
 
 .footer-about {
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    padding: 0 165px 30px 0;
 }
 
 ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 .footer-paragraph {
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    text-decoration: none;
 }
 
 
 
 .footer-help {
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    padding: 0 165px 30px 0;
 }
 
 .footer-media {
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    padding-bottom: 30px;
 }
 
 .facebook {
    margin-right: 15px;
    cursor: pointer;
 }
 
 
 
 .twitter {
    margin-right: 15px;
    cursor: pointer;
 }
 
 
 
 .instagram {
    cursor: pointer;
 }
 
 
 
 
 .firm-rights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 75px;
 }
 
 .rights {
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-left: 220px;
 }
 
 
 
 
 
 footer{
    margin-left: 100px;
 }